* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	background: rgb(187, 222, 240);
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h3 {
	font-size: 1em;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.3);
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

.app {
	margin-top: 2em;
	width: 100%;
}

.app input {
	padding-left: .65em;
	font-size: 1em;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.4);
	width: 100%;
	line-height: 3em;
	border-radius: 0;
	background: none;
	border: none;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.app input::placeholder {
	font-weight: 400;
	color: inherit;
}

.app input:focus {
	outline: none;
}

.favs, .tasks, .favs ul li, .tasks ul li, .btns, footer {
	display: flex;
}

.favs {
	margin-bottom: 1em;
}

.favs, .tasks {
	margin-top: 1em;
	flex-direction: column;
	text-align: center;
}

.btns {
	flex-direction: row;
	margin-right: -18px;
}

ul li {
	color: #666;
	font-size: 1em;
	font-weight: 400;
	background: white;
	padding: .75em 1.2em;
	border-radius: .3em;
	margin: .5em 0;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	line-height: 1.5;
}

.favs ul li svg, .tasks ul li svg {
	height: 36px;
	margin-left: 1.2em;
}

.favs .fav {
	fill: #FFD842;
}

.bin {
	fill: tomato;
	transform: scale(0.75);
}

.cap {
	transition: transform 0.2s;
}

.fav {
	fill: lightgray;
	transition: transform 0.2s, fill 0.5s;
	transform: scale(0.75);
}

footer {
	flex-direction: column;
	align-items: center;
	margin: 3em 0;
}

footer p {
	margin: 0;
	padding: 0;
	height: 1.5em;
	font-size: .75em;
	color: rgba(0, 0, 0, 0.4);
}

@media (min-width: 768px) {

	.app input {
		font-size: 1.2em;
	}

	.delete {
		height: 1.2em;
	}

	.favs, .tasks {
		text-align: left;
	}

	.favs li, .tasks li {
		font-size: 1.25em;
	}

	li svg:hover {
		cursor: pointer;
	}

	.fav, .bin {
		transform: scale(0.85);
	}

	.fav:hover {
		transform: scale(0.9);
	}

	.bin:hover .cap {
		transform: rotate(-9deg);
	}

}
